/* 清除内外边距 */
*{
    margin: 0;
    padding: 0;
}
/* 设置背景图片 */
body,html {
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* 头部模块 */
.header {
    width: 1200px;
    margin-top: 20px;
}

/* 登录注册模块 */
.loginAndRegBox {
    position: fixed;
    width: 400px;
    height: 310px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/* 登录标题 */
.loginAndRegBox .titleBox {
    height: 60px;
    /* 设置为背景图片 不平铺 然后居中 center */
    background: url("../images/login_title.png") no-repeat center;
}
/* 注册页面隐藏 */
.loginAndRegBox .reg_box {
    display: none;
}

/* form表单 */
.loginAndRegBox .login_form {
    padding: 0 30px;
}
/* a 链接 */
.loginAndRegBox .links {
    display: flex;
    justify-content: flex-end;
}

.loginAndRegBox .layui-form-item {
    position: relative;
}

.loginAndRegBox .layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.layui-input {
    padding-left: 35px;
}

/* 登录注册模块结束 */